**/__pycache__/
**/*.pyc

!.gitignore
**/.ipynb_checkpoints/
data/
poetry.lock
**/scratch.py
.vs/
**/*.sqlite
*.log
*.sqlite
..gitignore.un
results/**
results/*
dev_testing/**

*.swp
**/*.swp
*.DS_Store
**/*.DS_Store
**/*.env

.coverage
**/htmlcov/
**/.coverage
**/*~
